body{
    animation: opacity 500ms linear;
}
#box-loading{
    display: none;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}
#loading{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 10px solid #FB8F15 ;
    position: relative;
    box-sizing: border-box;
    animation: a1 1.2s linear infinite;
}
#loading::before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
    transform: rotate(120deg);
    border-top: 10px solid #ffee00;
}
#loading::after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
    transform: rotate(240deg);
    border-top: 10px solid #00d9ff;
}
@keyframes a1{
    to{
        transform: rotate(360deg);
    }
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}