/*
font-family: 'Rubik', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/
:root{
    --colorPrimary: #FB8F15;
    --colorSecondary: #e9e9e9;
    --colorTertiary: #ffee00;
    --colorQuaternary: #00d9ff;
    --colorTextPrimary: #e9e9e9;
    --colorTextSecondary: #123849;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;

    background-color: var(--colorPrimary);
}