@media (max-width: 480px){
    main .content .apresentation{
        height: 75%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    main .content .apresentation .grid-apresentation1{
        opacity: 1;
        margin-bottom: 15px;
        background-color: #101214;
    }
    main .content .apresentation .grid-apresentation2{
        opacity: 1;
        background-color: #101214;
        height: 70%;
    }
    main .content .redirect-button{
        width: 280px;
        height: 70px;
        top: 82%;
    }
    main .content .back-space-svg svg{
        display: none;
    }
}
@media (min-height: 640px){}
@media (max-height: 640px){}