@media(max-width:1100px){
    section main .items{
        min-width: 440px;
        min-height: 300px;
        text-align: center;
    }
    section main #inputName{
        min-width: 308px;
    }
}
@media(max-width: 600px){
    section main .items{
        min-width: 80vw;
        min-height: 70%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-rows: 15% 10% 10% 1fr;
        grid-template-areas: "t" "i" "alert" "btn";
    }
    section main h1{
        grid-area: t;
    }
    section main #inputName{
        grid-area: i;
        margin: 0 auto;
        min-width: 70vw;
    }
    section main p.msg,
    section main p.msg2,
    section main p.msg3{
        margin: 0 auto;
        margin-top: 20px;
        grid-area: alert;
        width: 100%;
    }
    section main #btnSubmit{
        grid-area: btn;       
    }
}
@media(max-width: 380px){
    section main .items{
        grid-template-rows: 20% 10% 10% 1fr;
    }
    section main p.msg,
    section main p.msg2,
    section main p.msg3{
        width: 90%;
    }
    section main #btnSubmit{
        width: 0;
        margin: 0 auto;
        padding: 16px 40%;
    }
}
@media(max-width:190px){
    section main h1{
        font-size: max(17vw, 15px);
    }
    section main #inputName{
        height: 35px;
    }
    section main p.msg,
    section main p.msg2,
    section main p.msg3{
        margin-top: 20px;
        width: 70%;
    }
    section main #btnSubmit{
        padding:  14px 30%;
    }
}